html{
    background-color: white;
    cursor: none;
    background-repeat: repeat-x;
    height: 400vh;
}
::-webkit-scrollbar {
    width: 0px;
  }

.cursor{
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
    backdrop-filter: invert(100%) saturate(0%);
}

